<h1><%= @orbit.name %></h1>
<p><span class="badge">Satellites count: <%= @orbit.satellites.count %></span></p>
<%= @orbit.description %>
<br>
<br>
<%= render @orbit.satellites%>
<br>
<br>
<% if session[:mentor_id] %>
    <%= link_to 'delete', @orbit, method: :delete, class: 'btn btn-danger',
                data: { confirm: "You sure?" } %>
<% end %>