<div class="page-header">
  <h2><%= @satellite.acronym %></h2>
  <table>
    <tr>
      <th>Full name</th>
      <th>NORAD ID</th>
      <th>NSSDC ID</th>
      <th>Launch date</th>
      <th>Inclination, deg</th>
      <th>Dry mass, kg</th>
      <th>Mass at launch, kg</th>
      <th>Power, W</th>
    </tr>
    <tr>
      <td>
        <%= @satellite.full_name %>
      </td>
      <td>
        <%= link_to @satellite.norad_id, "http://www.n2yo.com/satellite/?s=#{@satellite.norad_id}", :target => "_blank" %>
      </td>
      <td>
        <%= link_to @satellite.nssdc_id, "http://nssdc.gsfc.nasa.gov/nmc/spacecraftDisplay.do?id=#{@satellite.nssdc_id}", :target => "_blank" %>
      </td>
      <td>
        <%= @satellite.launch_date.day %> <%= @satellite.launch_date.strftime("%B") %>
        <%= @satellite.launch_date.year %> (<%= @satellite.launch_date.hour %>:<%= @satellite.launch_date.min %> UTC)
      </td>
      <td>
        <%= @satellite.inclination_before_type_cast %>
      </td>
      <td>
        <%= @satellite.mass_dry_before_type_cast %>
      </td>
      <td>
        <%= @satellite.mass_at_launch_before_type_cast %>
      </td>
      <td>
        <%= @satellite.power_before_type_cast %>
      </td>
    </tr>
  </table>
</div>
<% if session[:mentor_id] %>
    <%= link_to 'delete', @satellite, method: :delete, class: 'btn btn-danger',
                data: { confirm: "You sure?" } %>
<% end %>