<div class="page-header">
  <h2><%= @satellite.acronym %></h2>
  <table>
    <tr>
      <th>Full name</th>
      <th>NORAD ID</th>
      <th>NSSDC ID</th>
    </tr>
    <tr>
      <td><%= @satellite.full_name %></td>
      <td><%= @satellite.norad_id %></td>
      <td><%= @satellite.nssdc_id %></td>
    </tr>
  </table>
</div>
<% if session[:mentor_id] %>
    <%= link_to 'delete', @satellite, method: :delete, class: 'btn btn-danger',
                data: { confirm: "You sure?" } %>
<% end %>